body { padding-top:10px; }

.container{
	width: 100em;
}

#informationcontainer{
	border:5px solid red;
	width: auto;
}

#datetimepickercontainer{
	border: 3px solid blue;
	display: inline-block;
	display:-moz-inline-stack;
	margin:0 auto;
	margin-right: 0px;
	width: 33%;
}

#topsenders{
	border: 3px solid green;
	display: inline-block;
	display:-moz-inline-stack;
	margin:0 auto;
	padding-top: 0px;
	width: 33%;
}

#topreceivers{
	border: 3px solid yellow;
	display: inline-block;
	display: -moz-inline-stack;
	width: 33%;
}